html, body{
  background-color: #000000;
}

main{
  display: block;
  position: relative;
  width: 1280px;
  height: 720px;
  margin: 0 auto;
}

.living-locker{
  animation: move 0.5s ease infinite;
}

#story{
  display: none;
}

#circlePlay{
  cursor: pointer;
}

#circlePlay:hover{
  opacity: 0.8;
}

.openLocker{
  animation: open 5s ease;
  transform: translate(80px,-35px);
}

.endSchoolScene{
  opacity: 0;
  animation: endSchool 2s ease;
}

@keyframes move {
  25% {
     transform: translate(10px, 10px);
  }
  95% {
    transform: translate(-10px, -15px);
  }
}

@keyframes open {
  0%{
    transform: translate(0,0);
  }
  50% {
    transform: translate(80px,-35px);
  }
}

@keyframes endSchool {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
